# Q10: Write a python program to scrape the salary data for Data Scientist designation.  You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [4]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver

In [5]:
driver = webdriver.Chrome("C:\web driver\chromedriver.exe")

In [6]:
#open ambitionbox
driver.get("https://www.ambitionbox.com/")

In [7]:
#click salary option
driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]").click()

In [8]:
#serch_job_profile
serch = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
serch.send_keys("Data scientist")

In [9]:
company = []
com= driver.find_elements_by_xpath("//div[@class='name']/a")
for i in com:
    c=i.text
    company.append(c)
print(len(company))
print(company)

10
['Walmart', 'Ab Inbev', 'American Express', 'ZS', 'Optum', 'Reliance Jio', 'Fractal Analytics', 'Tiger Analytics', 'UnitedHealth', 'EXL Service']

In [10]:
based_on = []
bes = driver.find_elements_by_xpath("//div[@class='name']/span")
for i in bes:
    b = i.text
    based_on.append(b)
print(len(based_on))
print(based_on)

10
['based on 12 salaries', 'based on 33 salaries', 'based on 10 salaries', 'based on 15 salaries', 'based on 33 salaries', 'based on 21 salaries', 'based on 83 salaries', 'based on 50 salaries', 'based on 57 salaries', 'based on 10 salaries']

In [11]:
avarage = []
av_sal = driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in av_sal:
    a=i.text
    avarage.append(a)
print(len(avarage))
print(avarage)

10
['₹ 30.2L', '₹ 20.6L', '₹ 19.9L', '₹ 16.7L', '₹ 16.1L', '₹ 15.7L', '₹ 15.4L', '₹ 14.8L', '₹ 14.0L', '₹ 13.3L']

In [12]:
minmum = []
min_sal = driver.find_elements_by_xpath("//div[@class='value body-medium']")
for i in min_sal[0:10]:
    a=i.text
    minmum.append(a)
print(len(minmum))
print(minmum)

10
['₹ 25.0L', '₹ 36.0L', '₹ 15.0L', '₹ 25.5L', '₹ 14.1L', '₹ 25.0L', '₹ 11.0L', '₹ 22.0L', '₹ 11.0L', '₹ 22.6L']

In [14]:
maximuns = []
max_sal = driver.find_elements_by_xpath("//div[@class='value body-medium'][2]")
for i in max_sal[0:10]:
    a=i.text
    maximuns.append(a)
print(len(maximuns))
print(maximuns)

10
['₹ 36.0L', '₹ 25.5L', '₹ 25.0L', '₹ 22.0L', '₹ 22.6L', '₹ 26.2L', '₹ 22.0L', '₹ 20.0L', '₹ 21.1L', '₹ 21.0L']

In [15]:
df = pd.DataFrame({"Comapny Name":company,"Total salary recored":based_on,"Mininum salary":minmum,"Avarage salary":avarage,"Maximun salary":maximuns})

In [16]:
df.head(10)

,Comapny Name,Total salary recored,Mininum salary,Avarage salary,Maximun salary
0,Walmart,based on 12 salaries,₹ 25.0L,₹ 30.2L,₹ 36.0L
1,Ab Inbev,based on 33 salaries,₹ 36.0L,₹ 20.6L,₹ 25.5L
2,American Express,based on 10 salaries,₹ 15.0L,₹ 19.9L,₹ 25.0L
3,ZS,based on 15 salaries,₹ 25.5L,₹ 16.7L,₹ 22.0L
4,Optum,based on 33 salaries,₹ 14.1L,₹ 16.1L,₹ 22.6L
5,Reliance Jio,based on 21 salaries,₹ 25.0L,₹ 15.7L,₹ 26.2L
6,Fractal Analytics,based on 83 salaries,₹ 11.0L,₹ 15.4L,₹ 22.0L
7,Tiger Analytics,based on 50 salaries,₹ 22.0L,₹ 14.8L,₹ 20.0L
8,UnitedHealth,based on 57 salaries,₹ 11.0L,₹ 14.0L,₹ 21.1L
9,EXL Service,based on 10 salaries,₹ 22.6L,₹ 13.3L,₹ 21.0L