In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver

In [2]:
#open chorme by using web driver
driver = webdriver.Chrome("C:\web driver\chromedriver.exe")

In [3]:
#open ambitionbox
driver.get("https://www.ambitionbox.com/")

In [5]:
#click job option
driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]").click()

In [9]:
#serch Data scienctist
serch = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
serch.send_keys("Data Scientist")

In [10]:
driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span").click()

In [16]:
#serch Noida location
serch_noida = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label").click()
#serch_noida.send_keys("Noida")

In [17]:
company_name = []
comp=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in comp:
    c=i.text
    company_name.append(c)
print(len(company_name))
print(company_name)

10
['GENPACT India Private Limited', 'Optum Global Solutions (India) Private Limited', 'GENPACT India Private Limited', 'Hcl Technologies Limited', 'EXL Services.com ( I ) Pvt. Ltd.', 'Paytm', 'Om Software Internet Solutions Private Limited', 'Paytm', 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED', 'Ashkom Media India Private Limited']

In [19]:
nos_of_days_ego =[]
no = driver.find_elements_by_xpath("//span[@class='body-small-l'][1]")
for i in no[0:10]:
    n=i.text
    nos_of_days_ego.append(n)
print(len(nos_of_days_ego))
print(nos_of_days_ego)

10
['7d ago', '15d ago', '14d ago', '17d ago', '28d ago', '10d ago', '18d ago', '28d ago', '15d ago', '14d ago']

In [20]:
rating=[]
rat= driver.find_elements_by_xpath("//span[@class='body-small']")
for i in rat:
    r = i.text
    rating.append(r)
print(len(rating))
print(rating)

10
['4.0', '4.2', '4.0', '3.9', '3.9', '3.7', '4.5', '3.7', '3.3', '3.5']

In [22]:
df = pd.DataFrame({"Company":company_name,"No of days ago job posted":nos_of_days_ego,"Rating":rating})
df.head(10)

,Company,No of days ago job posted,Rating
0,GENPACT India Private Limited,7d ago,4.0
1,Optum Global Solutions (India) Private Limited,15d ago,4.2
2,GENPACT India Private Limited,14d ago,4.0
3,Hcl Technologies Limited,17d ago,3.9
4,EXL Services.com ( I ) Pvt. Ltd.,28d ago,3.9
5,Paytm,10d ago,3.7
6,Om Software Internet Solutions Private Limited,18d ago,4.5
7,Paytm,28d ago,3.7
8,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,15d ago,3.3
9,Ashkom Media India Private Limited,14d ago,3.5