# Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [49]:
#importing 
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [50]:
#driver
driver = webdriver.Chrome('C:\web driver\chromedriver.exe')

In [51]:
#open a website where i willfatech the data
driver.get("https://www.naukri.com/")

In [52]:
#serch_job_tittle
serch_Data_Analyst = driver.find_element_by_class_name("suggestor-input")
serch_Data_Analyst.send_keys("Data Analyst")

In [53]:
#serch_location
serch_city = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
serch_city.send_keys("Bangalore")

In [54]:
#click_button
click_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
click_button.click()

In [55]:
#now make empty list
job_tittle =[]
job_location = []
company_name=[]
experience = []

In [56]:
#now fatech data
tittle = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
tittle[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="a81584d1-cfca-400e-ba2c-322712011b58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="bd42cfe6-c5bb-4bb8-95e0-1627482e395a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="bebdf53e-3936-47a4-bc98-9473d0b7ea88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="f197f5f5-752b-4046-9152-203cef5bbccf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="1e629069-4f9c-4a18-af85-7cc1432db1aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="376fc7c9-34d2-47d2-b555-d3def49e1615")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="6b5f202d-8c03-43de-aaa3-899ab3cc2715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="9c1674db-28c5-4943-8e42-6bbc3aaafeee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="d93008df-1a3c-4138-b19a-a6531013635c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="e6dbf18e-23c9-4a32-8d2e-04caa2834d4b")>]

In [57]:
len(tittle)

20

In [58]:
for i in tittle:
    tittles = i.text
    job_tittle.append(tittles)
job_tittle[0:10]

['EY GDS Data Analyst-Finland based project',
 'Business & Data Analyst - Alteryx (London)',
 'Data analyst / Data scientist, AVP',
 'Data analyst / Data scientist, Associate',
 'Data Analyst - Data and Analytics',
 'Senior Mis Data Analyst',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - Data Science, 3 To 5 Years']

In [59]:
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [60]:
location[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="7ba231d4-4d56-4a40-b31e-df66cfb77046")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="99cf8553-0275-4a31-b370-ee1c4069cdec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="a121f5e1-3e8e-4bca-82b4-a9f68a6a4144")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="573a045b-0fcc-4985-857b-a20b2c7f629f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="b442a7e4-6cb7-4211-b39e-14482f77f316")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="275baac6-4132-4b42-baf8-9917f61da6e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="14d58e57-ff44-4a9c-ab2a-e710987aad33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="51ac3105-5a0d-458c-98b4-400a04517659")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="a614e42b-52df-4aa9-af72-80e8cf8663c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="d212acda-83c2-4729-b20d-df00731814c2")>]

In [61]:
for i in location:
    loc = i.text
    job_location.append(loc)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sarjapur), Delhi / NCR, Mumbai (All Areas)',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [62]:
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="acff3d94-4ebb-4253-b1ee-f858e3dad92a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="da2904ae-1763-42cd-9bc5-e72560b19342")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="2b561ff9-5aa5-4841-a164-437f66a3534c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="6a25fe32-479d-4f59-9534-7d50236ddb85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="6d4aac21-fe39-4a8e-b85c-b5a442fbbf3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="f1edbcf9-bcd6-42e3-bef8-4e9c3fe6f175")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="40d50d2c-7884-41b1-a706-b94e58fe4068")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="aa240632-b652-4d09-a8ba-44032d5a9366")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="46ac2510-350d-4c0d-baf8-d92a0d561b3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="f2f2d727-ec24-454f-a83d-5e2da0fe3821")>]

In [63]:
for i in company:
    comp = i.text
    company_name.append(comp)
company_name[0:10]

['EY',
 'Imaginative Brains LLP',
 'Deutsche Bank',
 'Deutsche Bank',
 'Intel',
 'Barbeque Nation',
 'Sejal Consulting Hub',
 'Flipkart',
 'Walmart',
 'Rise Finconnect Private Limited']

In [64]:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="f873dc42-d0b4-445e-922b-20a76173d4a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="a779b3f1-1c4a-4691-bcad-46517659db0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="da4caefa-8ca8-4cdb-8bbc-ed6b9fc7afcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="eed7e146-49e3-43fc-a552-22e2b473b236")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="e643fd26-3cbc-48c7-8dab-3424709a959d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="982b21e4-c960-4bb8-a54f-f25f18425f7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="4fbb0e0e-3965-4b48-90ec-f6de792b4b5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="66ce7873-9fd0-44e4-9095-159330733e26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="8f8f8882-cf75-4e12-89c9-2789d2add6e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04115b24e6b11b38da7fbd288e7a1d04", element="7c20ddec-5f04-40a8-9aef-d6da7ad4e358")>]

In [65]:
for i in exp:
    ex=i.text
    experience.append(ex)
experience[0:10]

['0-1 Yrs',
 '5-10 Yrs',
 '6-11 Yrs',
 '5-8 Yrs',
 '3-6 Yrs',
 '5-8 Yrs',
 '0-3 Yrs',
 '3-7 Yrs',
 '4-7 Yrs',
 '2-6 Yrs']

In [67]:
print(len(job_tittle),len(job_location),len(experience),len(company_name))

20 20 20 20

In [68]:
df = pd.DataFrame({"Job Tittle":job_tittle,"Location":job_location,"Company":company_name,"Experience":experience})

In [69]:
df.head(10)

,Job Tittle,Location,Company,Experience
0,EY GDS Data Analyst-Finland based project,Bangalore/Bengaluru,EY,0-1 Yrs
1,Business & Data Analyst - Alteryx (London),"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Imaginative Brains LLP,5-10 Yrs
2,"Data analyst / Data scientist, AVP",Bangalore/Bengaluru,Deutsche Bank,6-11 Yrs
3,"Data analyst / Data scientist, Associate",Bangalore/Bengaluru,Deutsche Bank,5-8 Yrs
4,Data Analyst - Data and Analytics,Bangalore/Bengaluru,Intel,3-6 Yrs
5,Senior Mis Data Analyst,"Bangalore/Bengaluru(Sarjapur), Delhi / NCR, Mu...",Barbeque Nation,5-8 Yrs
6,Junior Data Analyst/ Scientist- Fresher Position,Remote,Sejal Consulting Hub,0-3 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Walmart,4-7 Yrs
9,"Data Analyst - Data Science, 3 To 5 Years",Bangalore/Bengaluru,Rise Finconnect Private Limited,2-6 Yrs